* {
    box-sizing: border-box;
}

html {
    overscroll-behavior: none;

    body {
        display: block;
        height: 100vh;
        margin: 0;
        padding: 1rem;

        background-color: #eee;

        .game-grid {
            display: grid;
            grid-template-columns: 320px auto;
            grid-template-areas: 'controls game';

            width: 100%;
            height: calc(100vh - 2rem);

            .game-controls {
                grid-area: controls;
            }

            .game-container {
                grid-area: game;

                height: 100%;
                width: 100%;

                overflow: hidden;
                background-color: #000;
                box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);

                svg#game-root {
                    transition: opacity 250ms;

                    &.-hide {
                        opacity: 0;
                    }
                }

                .grid-cell {
                    position: relative;
                    fill: #fff;
                    fill-opacity: 1;
                    z-index: 1;
                }
            }
        }
    }
}
