* {
    box-sizing: border-box;
}

html {
    overscroll-behavior: none;

    body {
        display: block;
        height: 100vh;
        margin: 0;
        padding: 1rem;

        background-color: #eee;

        .game-grid {
            display: grid;
            grid-template-columns: 320px auto;
            grid-template-areas: 'controls game';

            width: 100%;
            height: calc(100vh - 2rem);

            .game-controls {
                grid-area: controls;

                .property-buttons {
                    width: 100%;

                    text-align: center;

                    .property-button {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;

                        height: 2rem;
                        width: 2rem;
                        margin: 0.25rem;

                        background-color: green;
                        color: white;
                        font-weight: bold;
                    }
                }
            }

            .game-container {
                grid-area: game;

                height: 100%;
                width: 100%;

                overflow: hidden;
                background-color: #000;
                box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);

                svg#game-root {
                    transition: opacity 250ms;

                    &.-hide {
                        opacity: 0;
                    }
                }

                .grid-cell {
                    position: relative;
                    fill: #fff;
                    fill-opacity: 1;
                    z-index: 1;

                    &.-environment {
                        &.-height {
                            fill: white !important;
                        }

                        &.-light {
                            &.-intensity {
                                fill: #fb0 !important;
                            }
                        }

                        &.-water {
                            &.-salinity {
                                fill: #0f8 !important;
                            }

                            &.-saturation {
                                fill: #00f !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
